<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Professor VS Student</title>
    <link href="/views/css/gameCss.css" rel="stylesheet" type="text/css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <br /><br />
    </div>
    <script src="/views/js/block.js"></script>
    <script src="/views/js/stair.js"></script>
  </body>
</html>
