.stair {
  background-color: black;
  border-radius: 10%;
  box-sizing: border-box;
}
.stair.snow {
  background-image: url("/views/img/stair/stair2.png");
}
.stair.grain {
  background-image: url("/views/img/stair/stair1.png");
}
.stair.stone {
  background-image: url("/views/img/stair/stair3.png");
}
.stair.sharp-snow {
  background-image: url("/views/img/stair/stair4.png");
}

.playground > ul.lighthouse {
  background-image: url("/views/img/back/background1.jpg");
}
.playground > ul.night {
  background-image: url("/views/img/back/background2.jpg");
}
.playground > ul.town {
  background-image: url("/views/img/back/background3.jpg");
}
.wrapper {
  display: flex;
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --stair-height: 35px;
  --stair-width: 60px;
  --ground-width: calc(var(--stair-width) * 7);
  --ground-heigt: calc(var(--stair-height) * 20);
}

ul {
  /* 리스트의 모양 설정 */
  list-style: none;
}

body {
  height: 100%;
  /* 내용이 틀을 넘칠때 */
  overflow: hidden;
}

/* X > Y : 직계 자손 선택 */
.playground > ul {
  position: relative;
  border: 1px solid #333;
  outline: 10px solid rgb(116, 103, 240);
  width: var(--ground-width);
  margin: 0 auto;

  background-size: cover;
  background-image: var(--background-url);

  overflow: hidden;
}

.playground > ul > li {
  width: 100%;
  height: var(--stair-height);
}

.playground > ul > li > ul {
  /* 수평으로 보이게 */
  display: flex;
}

.playground > ul > li > ul > li {
  width: var(--stair-width);
  height: var(--stair-height);
}
